		body{
			height: 400px;
			background-color: #eee;
		}
		#banner{
			width: 100%;
			border: none;
			height: 150px;
		}		
		#noticia{
			border-style: solid;
			border-width: 1px 1px 1px 1px;
			width: 600px;
			height: 250px;
			position: relative;	
			top: 20px;
			left: 28%;
		}		
		#destaque{
			font-weight: bold;
			font-size: 150%;
			margin: 15px;
		}		
		#txtnoticia{
			margin: 15px;			
			color: black;			
			text-decoration: none;
			font-weight: bold;
			font-size: 130%;
		}
		a:link, a:visited{
			color: black;			
		}	